div.navbar {
  text-align: left;
}
.jumbotron-container {
  display: flex;
background-color:black;
 color:black;
 justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}